:9000 {
	metrics
}

highserpot.com {
    encode zstd gzip
    root * /srv/dist
    file_server browse
    try_files {path}  /

    log {
        format json
        output file /logs/site.log {
        }
    }
}

highserpot.com:9090 {
    reverse_proxy prometheus:9090
}

 highserpot.com:5000 {
        reverse_proxy stock-api:5000
        log {
                format json
                output file /logs/api.log {
                }
            }
    }